[project]
name = "scriptation-2"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "ase>=3.27.0",
    "pyahocorasick>=2.3.0",
    "spglib>=2.7.0",
]
